@import './theme.scss';

* {
  font-family: $font;
}

html { overflow-y: auto; }

.wallpaper {
  background-image: url('/img/wall21.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  border: 2px solid;
  border-color: $primary-color;
  border-radius: 50px;
  padding: 0.3rem 2rem;
  font-size: 1.1rem;
  transition: all 300ms;
}

.btn1 {
  background-color: $primary-color;
  color: white;

  &:hover {
    background-color: darken($primary-color, 5%);
    border-color: darken($primary-color, 5%);
  }
}

.btn2 {
  color: $primary-color !important;

  &:hover {
    border-color: darken($primary-color, 6%);
    color: darken($primary-color, 6%);
  }
}

.btn-sm {
  padding: 0.3rem 0.5rem;
  font-size: 0.9rem;
}

.btn-disabled {
  filter: grayscale(0.5);
  cursor: not-allowed;
}

.rounded {
  border-radius: 10px;
}

.w-100 {
  width: 100%;
}

.msg-error {
  color: #ff4b4b;
  display: block;
  font-weight: bold;
}

.muted-text {
  color: rgba(0, 0, 0, 0.45);
}

.no-link {
  font-weight: 500;
  text-decoration: none;
}

.no-color {
  color: $font-color;
}
