@import './theme.scss';

* {
  font-family: $font;
}

html { overflow-y: auto; }

.wallpaper {
  background-image: url('/img/wall21.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.no-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.btn {
  border: 2px solid;
  border-color: $primary-color;
  border-radius: 50px;
  padding: 0.3rem 1.3rem;
  font-size: 1.1rem;
  transition: all 300ms;
}

.btn1 {
  background-color: $primary-color;
  color: white;

  &:hover {
    background-color: darken($primary-color, 5%);
    border-color: darken($primary-color, 5%);
  }
}

.btn2 {
  color: $primary-color !important;

  &:hover {
    border-color: darken($primary-color, 6%);
    color: darken($primary-color, 6%);
  }
}

.btn-disabled {
  filter: grayscale(0.5);
  cursor: not-allowed;
}

.w-100 {
  width: 100%;
}