@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sriracha');

$font: 'Varela Round', sans-serif;
$font-color: #424242;

$primary-color: #f3a719;